@CHARSET "UTF-8";

body {
    color : #333333 ;
    font-family : "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica, Arial,sans-serif ;
}

#header {
    width : 100% ;
    height : 70px ;
    background-color : #333333 ;
}

#content {
    width : 93% ;
    margin-top : 15px ;
    padding-left : 3% ;
}

h1 {
    width : 93% ;
    padding-top : 18px ;
    padding-left : 3% ;
    font-size : 24px ;
    color : #eeeeee ;
}

h2 {
    font-size : 36px ;
    margin-bottom : 15px ;
}

li {
    margin-top : 9px ;
    margin-bottom : 9px ;
}

p {
    margin-top : 15px ;
    margin-bottom : 15px ;
}

a {
    text-decoration : none ;
    color : #24738e ;
}

table, tr, th, td {
    border : 1px solid #cccccc ;
}

table {
    width : 100% ;
    table-layout : fixed ;
}

th {
    width : 27px ;
    padding : 9px 3% ;
}

td {
    width : 66% ;
    padding : 9px 3% ;
}

button {
    font-size : 15px ;
    padding : 6px 12px ;
}

#footer{
    text-align : center ;
}

#flush_success {
    width : 100% ;
    padding-top : 27px ;
    padding-left : 3% ;
    padding-bottom : 27px ;
    margin-bottom : 15px ;
    color : #155724 ;
    background-color : #d4edda ;
}

#flush_error {
    width : 100% ;
    padding-top : 27px ;
    padding-left : 3% ;
    padding-bottom : 27px ;
    margin-bottom : 15px ;
    color : #721c24 ;
    background-color : #f8d7da ;
}
